
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,button,input,select,textarea {
    color:#222
}

html {
    font-size:1em;
    line-height:1.4
}

::-moz-selection {
    background:#b3d4fc;
    text-shadow:none
}

::selection {
    background:#b3d4fc;
    text-shadow:none
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0
}

audio,canvas,img,video {
    vertical-align:middle
}

fieldset {
    border:0;
    margin:0;
    padding:0
}

textarea {
    resize:vertical
}

/***********************************************************************************************/
/* GENERAL */
/***********************************************************************************************/

/* This dictates the background color and features of the main body of the page */
body {
    font:16px/1.5 'Raleway',Arial,sans-serif; /* font-size/line-height */
    color:#fff;
    margin:0;
    padding:0
}

h1 {
    font-size:50px;
    font-weight:300;
    text-align:center;
    font-weight:700
}

/* MAYBE This color marks the background of the header. original #27ae60 is green. */
span {
    color:#27ae60;
    font-weight:700
}

h2 {
    font-size:35px;
    text-align:left;
    margin-left:-20px
}

/* I added this class for the subheading below my name. This is relevant only when that is text not an image. */
h3 {
    font-size:20px;
    font-weight:300;
    text-align:center;
	font-style: italic;
    font-weight:700
}

/***********************************************************************************************/
/* HEADER */
/***********************************************************************************************/
/* Not sure what this is. original #2ecc71 is green. */
header {
    height:250px;
    background:#2ecc71;
    padding:23px 0;  /* This doesn't solve the spacing issue for the menu */
}

/* the next two blocks ensure my name and title are centered */
div.name-title-div {
    height:250px; /* experiemented with this and changed it back */
    position: relative
}

img.name-title {
    margin: 0;
    background: blue;    /********** changed this property to to test other changes **********/
    position: absolute;
	width: 100%;
	max-width: 700px;
	height: auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

/***********************************************************************************************/
/* NAV */
/***********************************************************************************************/
/* MOVED FROM AFTER nav.main-nav.stickytop This doesn't seem to screw anything up and is logical. */
.container {
    display: inline;
    margin:0 auto;  /* this might need a bottom margin, after the auto */
}

nav.main-nav {
    background:#fff;
    height:60px;  /* orig 60px - changing this does seem to fix the default menu size but screws up other layouts */
    border-bottom:1px solid #dadada;
    text-align: center;
}

/* This makes it a flat menu (display: inline-block).  The padding elements screw up display. */
nav.main-nav li {
	display: inline-block;
}

nav.main-nav a {
    font-family:'Lato',sans-serif;
    font-size:20px;
    text-decoration:none;
/*  display:inline-block;   */
    padding:15px 19px; 	/* change first number from 15 to 10, then changed it back. */
    color:#27ae60;
}

/* This and next block relate to the buttons I cut AS WELL AS nav menu links. updated for detialed edits.  */
nav a.active {
    background:red; /*  doesn't seem to work*/
    color:purple;   /*  doesn't seem to work*/
}

nav a:hover {
    background:red;
    color:#27ae60
}

/***********************************************************************************************/
/* STICKY NAV */
/***********************************************************************************************/
nav.main-nav.stickytop {
    position:fixed;
    top:0;
    width: 100%; 
}

/***********************************************************************************************/
/* CONTENT */
/***********************************************************************************************/
.content {
	color:#222;
    padding:50px;
	max-width:700px;
    margin: auto;
}

.content h2 {
    margin:0;
}

/***********************************************************************************************/
/* RESPONSIVE */
/***********************************************************************************************/
@media all and (max-width: 600px) { 
/* I added this header section to integrate original styling back in, not sure it matters, could eliminate. */ 
    header {
           padding:5px 0 55px;
       }

/* This is from the dropdown menu script.  Changed div from main-nav to continer */ 
	div.container {
        height:60px;  /* I added this to integrate original styling back in */ 
		position: relative;
		/*
		min-height: 30px;
	    text-align: center;
		margin: 0;
		*/
	}	
		
	nav.main-nav ul {
	    margin: 0;
	    background: orange;    /********** changed this property to to test other changes **********/
	    position: absolute;
		width: 100%;
		max-width: 700px;
		height: auto;
	    top: 50%;
	    left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%) 
	}
	nav.main-nav li {
		display: none; /* hide all <li> items */
		margin: 0;
	}
	nav.main-nav .current {
		display: block; /* show only current <li> item */
	}
	nav.main-nav a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: center;
	}
	nav.main-nav .current a {
		background: none;
		color: #666;
	}

	/* on nav hover */
	nav.main-nav ul:hover {
		background-image: none;
	}
	nav.main-nav ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	nav.main-nav ul:hover .current {
		background: url(images/icon-check.png) no-repeat 10px 7px;
	}	
	
}